@use "./styles/mixins.scss" as *;

body[data-theme="light"] {
  --color-1: #fff;
  --color-2: #000000;
}

body[data-theme="dark"] {
  --color-1: #000000;
  --color-2: #fff;
}

// ====== CSS Reset ===========
* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--color-1);
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

// ====== CSS Reset ===========

.theme-switcher {
  position: absolute;
  right: 30px;
  top: 10px;
}

input {
  width: 0;
  height: 0;
  display: none;
  visibility: hidden;
}

label {
  cursor: pointer;
  display: block;
  text-indent: -9999px;
  height: 30px;
  width: 60px;
  border-radius: 50px;
  background-color: var(--color-1);
  transition: 0.5s ease background-color;
  border: 2px solid var(--color-2);
}

label:after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50px;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background-color: rgb(46, 42, 68);
  transition: 0.5s ease;
}

input:checked + label:after {
  left: calc(100% - 25px);
  background-color: aliceblue;
}

input:checked + label {
  background-color: rgb(25, 26, 37);
  border: 2px solid whitesmoke;
}

.wrapper {
  width: 100vw;
  height: 80vh;
  background-color: var(--color-1);
  @include columnCenter;
  text-align: center;
}

.stopwatch-container {
  margin: 0 auto;
  margin-top: 1rem;
  background-color: var(--color-1);
  color: var(--color-1);
  border: 2px solid var(--color-2);
  width: 400px;
  border-radius: 12px;

  @include tablet {
    width: 600px;
  }

  @include desktop {
    width: 800px;
  }
}

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 2.6em;
  text-transform: uppercase;
}

h1,
h2,
h3,
p {
  color: var(--color-2);
}

#seconds,
#tens {
  font-size: 2em;
}

button {
  @include corners(5px);
  background: var(--color-1);
  color: var(--color-2);
  border: 2px solid var(--color-2);
  text-decoration: none;
  cursor: pointer;
  font-size: 1.2em;
  padding: 18px 10px;
  width: 180px;
  margin: 10px;
  outline: none;

  &:hover {
    @include transition;
    background: var(--color-2);
    color: var(--color-1);
  }
}

.cp-container {
  color: var(--color-2);
  font-size: 14px;
  margin-bottom: 10rem;

  &__copyright {
    display: flex;
    justify-content: center;
    border-top: 1px solid var(--color-2);
    padding-top: 2rem;
    margin: 0 2rem;
  }
}
